<nav>
  <div class="nav-brand">
    <div class="nav-shield">SJ</div>
    <div class="nav-name">
      U.E.F. San Jacinto
      <span>Siglo XXI · Manabí, Ecuador</span>
    </div>
  </div>
  <ul class="nav-links" id="navLinks">
    <li><a href="{{ site.baseurl }}/#mision">Misión &amp; Visión</a></li>
    <li><a href="{{ site.baseurl }}/#oferta">Oferta</a></li>
    <li><a href="{{ site.baseurl }}/#valores">Valores</a></li>
    <li><a href="{{ site.baseurl }}/#docentes">Docentes</a></li>
    <li><a href="{{ site.baseurl }}/#noticias">Noticias</a></li>
    <li><a href="{{ site.baseurl }}/#cronograma">Cronograma</a></li>
    <li><a href="{{ site.baseurl }}/#galeria">Galería</a></li>
    <li><a href="{{ site.baseurl }}/#documentos">Documentos</a></li>
    <li><a href="{{ site.baseurl }}/#contacto">Contacto</a></li>
  </ul>
  <div class="hamburger" onclick="document.getElementById('navLinks').classList.toggle('open')">
    <span></span><span></span><span></span>
  </div>
</nav>
